

/* Estilos para la sección Galeria de fotos */
.gallery-item {
    position: relative;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.gallery-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    transition: opacity 0.3s ease-in-out;
}

.gallery-item .overlay button {
    background-color: var(--primary-color);
    color: var(--neutral-light-color); 
    border: none; 
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(20px);
}

.gallery-item .overlay .button:hover {
    background-color: var(--secondary-color-3);
}

.gallery-item .overlay button a {
    text-decoration: none;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.gallery-item:hover .overlay {
    opacity: 1;
}

.gallery-item:hover .overlay button {
    opacity: 1;
    transform: translateY(0);
}
