:root {
    --primary-color: #000000; /* Color primario: Negro */
    --secondary-color-1: #2ECC71; /* Color secundario 1: Verde */
    --secondary-color-2: #829399; /* Color secundario 2: Gris azulado */
    --secondary-color-3: #FFBFB7; /* Color secundario 3: Rosa claro */
    --neutral-light-color: #ffffff; /* Neutral light color: Blanco suave */
}